<html>
	<head>
		<title>Video</title>

	</head>

<body>
	<center><h1>WEBCAM</h1></center>
	<!-- <center><img id="detect" style="background-color: #dedede;" src="{{ url_for('video_feed') }}" width="700" height="500"></center> -->

	<center><img id="imgPreview" style="background-color: #dedede;" src="" width="700" height="500"></center>

	<center><button id="btnPlayBack" onclick='startDetection()'>Start</button></center>

	<script type="text/javascript">
		function startDetection(){
			if (document.getElementById("imgPreview").getAttribute("src") == ""){
				document.getElementById("imgPreview").setAttribute("src", "{{ url_for('video_feed') }}");	
				document.getElementById("btnPlayBack").innerHTML = "Stop";	

				console.log("Webcam started!");		
			}else{
				document.getElementById("imgPreview").setAttribute("src", "");	
				document.getElementById("btnPlayBack").innerHTML = "Start";	

				console.log("Webcam stopped!");
			}
		}
	</script>
</body>

</html>